{% extends 'base.html' %}
{%block content%}
<a href="{% url 'home' %}"><-- back to home </a><h1 class="text-center">TASK1 & TASK2</h1><br><br>
<div class="container  row ">
    <div class="col-4 "></div>
    <div class="col-4 ">
        <form action="task" method="POST">
            {% csrf_token %}
            <table>
                {{form}}
            </table>
            <input type="submit" value="Submit">
        </form>
        

    </div>
    <div class="col-4 "></div>
</div>

{% endblock %}



