{% extends 'base.html' %}
{%block content%}
<a href="{% url 'home' %}"><-- back to home </a><h1 class="text-center">GITHUB </h1><br><br>
<div class="container  row ">
    <div class="col-4 "></div>
    <div class="col-4 ">
        <form action='gitApi' method="POST">
            {% csrf_token %}
            
                {{form}}
            
            <input type="submit" class="btn btn-success" value="Submit">
        </form>

    </div>
    <div class="col-4 "></div>
</div>

{% endblock %}


